<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="titulo">{{ titulo }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large" class="titulo">{{ titulo }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- FORMULARIO -->
  <div>

    <!-- CORREO -->
    <ion-item>
      <ion-label position="floating">Correo Institucional</ion-label>
      <ion-input type="email"></ion-input>
    </ion-item>

    <!-- CONTRASEÑA -->
    <ion-item>
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input type="password" ></ion-input>
    </ion-item>
    
    <!-- INICIAR -->
    <ion-button class="ion-padding" color="warning">Acceder</ion-button>
    
    <!-- REGISTRAR -->
    <ion-text>
      <h6>¿Problemas con tu cuenta? Sigue este <a class="link" href="https://www.duoc.cl/contacto/">link</a> para más ayuda.</h6>
    </ion-text>
  </div>
  

</ion-content>
