.avatar{
    margin: auto;
}

.perfil{
    padding-top: 50px;
}

div{
    padding-top: 20px;
    text-align: center;
}

ion-text h5{
    color: goldenrod;
}



ion-title{
    padding-left: 90px;
    color: goldenrod;
}