ion-title{
    margin-left: 50px;
}

ion-card-title{
    text-align: center;
}

ion-card-content{
    text-align: center;
}

ion-button{
    margin-top: 50px;
    width: 150px;
}

div{
    margin-left: 100px;
}